body{
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
}
*{
    direction: rtl;

}
a{
    text-decoration: none;
    color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
    overflow-x: hidden;
}
.title-page{
    width: 100%;
    margin-right: 2%;
    margin-top: 1%;
}
.title-page span{
    margin: 5px;
    font-weight: bold;
}
.title-page span a{
    color: black;
}
.title-page .colors a{
    color: #dc3545;
}

.containers{
    margin:auto;
    background-color:#eeeeee;
}
.containers .rows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.v-center{
    align-items: center;
}
.header-one{
    display: block;
    width: 100%;
    z-index: 99;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-one .menu > ul > li{
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;

}
.header-one .menu > ul > li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color: #e9ecef;
    box-shadow: -2px 2px 70px -20px rgba(0,0,0,0.3);
    padding: 20px 30px;
    transition: all .3s linear;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}
@media (min-width:992px) {
    .header-one .menu > ul > li.menu-item-has-children:hover .sub-menu{
        margin-top: 0;
        opacity:1;
        visibility: visible;

    }
}


.header-one .menu > ul > li .sub-menu > ul > li{
    line-height: 1;
    padding: 4px;
}
.header-one .menu > ul > li .sub-menu > ul > li > a{
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555555;
    transition: color .3s ease;
    text-transform: capitalize;
}
.header-one .menu > ul > li .sub-menu > ul > li > a:hover{
    color: #ea4636;
}
.header-one .menu > ul > li .single-column-menu{
    min-width:280px ;
    max-width:350px ;
}
.header-one .menu > ul > li .sub-menu.mega-menu{
    left: 50%;
    transform: translateX(-50%);
}
.header-one .menu > ul > li .sub-menu.mega-menu .list-item > ul > li{
    line-height: 1;
    display: block;
}
.header-one .menu > ul > li .sub-menu.mega-menu .list-item > ul > li > a{
    padding: 10px 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    color:#6c757d;
}

.header-one .menu > ul > li .sub-menu.mega-menu-column-4{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 15px;
}
.header-one .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
    flex: 0 0 25%;
    padding: 0 15px;
    text-align: center;
}
.header-one .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    line-height: 1;
    padding: 2px 0;


}
.header-one .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}
.header-one .menu > ul > li > a{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    position: relative;
    transition: color .3s ease;
}

.header-one .menu > ul > li:hover > a{
    color: #ea4636;
}
.header-one .item-left{

}
.header-one .item-left .logo a img{
    width: 100px;
}
.header-one .item-center{

}
.header-one .item-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-one .item-right .search{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 30%;
}
.header-one .item-right .search .input{
    background-color: #eeee;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    position: absolute;
    top: 9%;
    left: 4%;
    z-index: 1;
}
.header-one .item-right .search .input.active{
    width: 19%;
    opacity: 1;
    visibility:visible;
}

.header-one .item-right .search .input input{
    background-color: #eeee;
    width: 100%;
    height: 36px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.header-one .item-right a{
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    color: #555555;
    margin-left: 10px;
    font-weight: bold;
    transition: color .3s ease;
}
.header-one .item-right a:hover{
    color: #ea4636;
    background-color: #eeeeee;

}
.mobile-menu-head{
    display: none;
}
.mobile-menu-trigger{
    display: none;
}
@media (max-width: 991px) {
    .header-one .item-center{
        order: 3;
        flex: 0 0 100%;
    }
    .header-one .item-right{
        flex: 0 0 auto;
    }
    .header-one .item-left{
        flex: 0 0 auto;
    }
    .v-center{
        justify-content: center;
    }
    .header-one .mobile-menu-trigger{
        display: flex;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
    }
    .header-one .mobile-menu-trigger span{
        display: block;
        height: 2px;
        background-color: #333333;
        width: 24px;
        position: relative;
        top: 13px;
    }
    .header-one .mobile-menu-trigger span:before,
    .header-one .mobile-menu-trigger span:after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;
    }
    .header-one .mobile-menu-trigger span:before{
        top: -6px;
    }
    .header-one .mobile-menu-trigger span:after{
        top:6px;
    }
    .header-one .item-right{
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
    .header-one .menu{
        position: fixed;
        width: 320px;
        top: 0;
        background-color: #ffffff;
        height: 100%;
        overflow: hidden;
        transform: translate(200%);
        transition: all .3s linear;
        z-index: 1099;
    }
    .header-one .menu.active{
        transform: translate(0%);
    }
    .header-one .menu > ul > li{
        margin: 0;
        display: block;
        line-height: 1;
    }
    .header-one .menu > ul > li > a{
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.1);

    }
    .header-one .menu > ul > li > a i{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        left: 0;
        text-align: center;
        line-height: 50px;
    }
    .header-one .menu .mobile-menu-head{
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #ffffff;
        top: 0;
    }
    .header-one .menu .mobile-menu-head .go-back{
        width: 50px;
        height: 50px;
        border-right: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 16px;
        display: none;
    }
    .header-one .menu .mobile-menu-head.active .go-back{
        display: block;
    }
    .header-one .menu .mobile-menu-head .go-back{
        display: block;
    }
    .header-one .menu .mobile-menu-head .current-menu-title{
        font-size: 15px;
        font-weight: bold;
        color: #000000;
    }
    .header-one .menu .mobile-menu-head .mobile-menu-close{
        width: 50px;
        height: 50px;
        border-left: 1px solid rgba(0,0,0,0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000000;
        font-size: 25px;
    }
    .header-one .menu .menu-main{
        height: 100%;
        overflow-x:hidden;
        overflow-y: auto;
    }
    .header-one .menu > ul > li .sub-menu.mega-menu,
    .header-one .menu > ul > li .sub-menu{
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 65px;
        max-width: none;
        min-width: auto;
        display: none;
        transform: translateX(0%);
        overflow-y: auto;
    }
    .header-one .menu > ul > li .sub-menu.active{
        display: block;
    }
    @keyframes slideleft {
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }




    @keyframes slideright {
        0%{
            opacity: 1;
            transform: translateX(0%);
        }
        100%{
            opacity: 0;
            transform: translateX(100%);
        }
    }



    .header-one .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
        flex: 0 0 100%;
        padding: 0;
    }
    .header-one .menu > ul > li .sub-menu.mega-menu .list-item > ul > li > a{
        display: block;
    }
    .header-one .menu > ul > li .sub-menu.mega-menu .list-item > ul {
        margin-bottom: 15px;
    }
    .header-one .menu > ul > li .sub-menu > ul > li > a{
        display: block;
    }

    .menu-overlay{
        position: fixed;
        background-color: rgba(0,0,0,0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: 1099;
    }
    .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }

    .header-one .item-left{
        display: none;
    }

    .header-one .item-right .search{
        display: flex;
        justify-content: end;
        position: relative;
        width: 100%;
        align-items: baseline;

    }
    .header-one .item-right .search .input{
height: 40px;
    }
    .header-one .item-right .search .input.active{
width: 80%;
    }



}
@media (max-width: 320px) {
    .header-one .menu.active{
        transform: translate(4%);
    }
}
@media (max-width: 280px) {
    .header-one .menu.active{
        transform: translate(8%);
    }
    .header-one .menu{
        position: fixed;
        width: 300px;
        top: 0;
        background-color: #ffffff;
        height: 100%;
        overflow: hidden;
        transform: translate(200%);
        transition: all .3s linear;
        z-index: 1099;
    }
}
/*navbar -menu*/
/* cart shop*/

.cart{
    position: fixed;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    height: 400px;
    top: 20%;
    left: 10%;
    transition: all .3s linear;
    padding: 20px;
    z-index: 1;
opacity: 0;
    visibility: hidden;
border-radius: 5px;

}
.cart.active{

    opacity: 1;
    visibility:visible;
}
.cart-title{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    direction: ltr;
    border: 1px solid #ced4da;
}
.cart-img{
    width: 100px;
    margin: 0 30px;
}
.detail-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-product-title{
    font-size: 15px;
    font-weight: 200;
}
.cart-price{
    font-size: 15px;
    font-weight: 200;
}
.cart-quantity{
    text-align: center;
    width: 60px;
    outline: none;
    border: 1px solid #eeeeee;
}
.cart-remove{

    text-align: center;
    color: red;
    font-size: 1.5em;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.25);
}
.total-title{
    font-size:1rem ;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: #6610f2;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: all .3s linear;
}
.btn-buy:hover{
    background-color: #212529;
}
#cart-close{
    position: absolute;
    top: .7rem;
    left: .8rem;
    font-size: 1.2rem;
    cursor: pointer;
}

/*banner header*/
.hero{
height: 80vh;
    margin: 0 auto;
    width: 100%;
}
.hero .banner{
    display: flex;
    align-items: center;
    height: 100%;
    background:url("../imges/full-length-view-stunning-female-shopper-posing-yellow-background-graceful-pinup-girl-looking-camera.jpg") center/cover no-repeat ;
    border-radius: 4px;

    position: relative;
    width: 100%;
}
.hero .banner .imges-banner{
    width: 50%;
}
.hero .banner .imges-banner img{
    width:450px;
    height: 450px;
    object-fit: cover;
    position: absolute;
    left: 0;
   bottom: 19%;
}
.hero .banner .col{
width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}
.hero .banner .col .subtitle{
display: block;
    font-size: 14px;
margin-bottom: .8em;
}
.hero .banner .col h1{
font-size: 4.2em;
    line-height: 1;
    margin-bottom: .5em;
}
.hero .banner .col p{
    font-size: 14px;
    margin-bottom: 3em;
    color: black;
    font-weight: 100;

}
.hero .banner .col .btn{
display: inline-block;
    padding: 1.1rem 3rem;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 1.1em;
    background: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
}
/*banner header*/

@media (max-width: 768px) {
    .hero .banner{
        display: flex;flex-direction: column;
    }
    .hero .banner .imges-banner img{
display: none;
    }
    .hero .banner .col{
        position: absolute;
        top: 10%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero .banner .col .subtitle{
        font-size: 10px;
    }
    .hero .banner .col h1{
        font-size: 20px;
    }
    .hero .banner .col p{
        font-size: 12px;
    }
    .hero .banner .col .btn{
        font-size: 13px;
        padding: 8px;
    }

}



/* COLLECTION*/
.section{
margin-top:60px ;
}
.section .title{
text-align: center;
    margin: 25px 0;
}
.section .title span{
    display: inline-block;
    border-bottom: 1px solid #ff5e3a;
    padding-bottom: .4rem;
    margin-bottom: .5rem;
    position: relative;
}
.section .title span::before{
    content: "";
    position: absolute;
    bottom: -6px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff5e3a;
}
.section .title h2{
    font-size: 25px;
    font-weight: bold;
}
.filters{
    display: flex;
    align-items: center;

}
.collection .filters{
justify-content: center;
    margin: 30px 0;
}
.collection .filters .item-text{
    padding: 1.0rem 2rem;
    color: #4f5665;
    font-size: 13px;
    border-radius: 0.8rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 5px;
    transition: all .3s linear;
}
.collection .filters .item-text.active{
    background: linear-gradient(to bottom, #c58141, #e35e61);
    color: #fff;
    box-shadow: 0 5px 15px rgba(255, 94, 58, 0.2);
}
.collection .filters .item-text:hover{
    background: linear-gradient(to bottom, #c58141, #e35e61);
    color: #fff;
    box-shadow: 0 5px 15px rgba(255, 94, 58, 0.2);
}
.collection .filters .item-text:active{
    background: linear-gradient(to bottom, #fccb90, #ff9a9e);
    color: #fff;
    box-shadow: 0 5px 15px rgba(255, 94, 58, 0.2);
}

@media (max-width: 991px) {
    .collection .filters{
        width: 100%;
    }
    .collection .filters .item-text{
        padding: 5px;
    }

}

.products{
display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .products-card{
border-radius: 10px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.1) ;
    overflow: hidden;
    width: 31%;
    margin: 10px;
}
.products .products-card .top{
background: linear-gradient(to bottom, #fccb90, #ff9a9e);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
border-radius: 13px 13px 0 0;
}
.products .products-card .top .icon{
    position: absolute;
    top: 10px;
    right: 20px;
    margin: 0 auto;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color:  #ff5e3a;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.products .products-card .top:hover .icon{
    opacity: 1;
    visibility: visible;
}
.products .products-card .top img{
    width: 190px;
    height: 200px;
    object-fit: cover;
    transition: all .3s linear;
}
.products .products-card .top img:hover{
    transform: scale(.9);
}
.products .products-card .bottom{
padding: 0.3rem 17px;
    cursor: pointer;
}
.products .products-card .bottom h4{
    font-size:13px;
    width: 85%;
    height: 30px;
    margin-bottom: 1.5rem;
}
.products .products-card .bottom .price-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    width: 100%;
    height: 43px;
}
.products .products-card .bottom .price{
    color: #fff;
    background-color: #ff5e3a;
    border-radius: 10px;
    padding: 0.4rem 2rem;
    transition: all .3s linear;


}
.products .products-card .bottom .price:hover span{
    opacity: 0;
    visibility: hidden;
    display: none;
}
.products .products-card .bottom .price .cart-shop{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.products .products-card .bottom .price:hover .cart-shop{
    display: flex;
    opacity: 1;
    visibility: visible;
}
.products .products-card .bottom .star{
    color: #ff5e3a;
}
.products .products-card .bottom .star i:not(:last-child){
    margin-right: 0.1rem;
}
.products #Supplies{
    display: none;
}
.products #Cosmetic{
    display: none;
}
.products #Audio{
    display: none;
}
@media (max-width: 991px){

    .products{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .products .products-card{
        border-radius: 10px;
        box-shadow:0 5px 15px rgba(0, 0, 0, 0.1) ;
        overflow: hidden;
        width: 46%;
        margin: 10px;
    }

}
@media (max-width: 497px){

    .products .products-card{
        border-radius: 10px;
        box-shadow:0 5px 15px rgba(0, 0, 0, 0.1) ;
        overflow: hidden;
        width: 90%;
        margin: 10px;
    }

}
.new-arrival .rowe{
    display: grid;
}
.new-arrival .rowe .cols{
    position: relative;
    padding: 10px;
}
.new-arrival .rowe .cols img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.new-arrival .rowe .cols-1{
    grid-column: 1;
}
.new-arrival .rowe .cols-2{
    grid-column: 1;
}
.new-arrival .rowe .cols-3{
grid-column: 2;
    grid-row: 1/ span 2;
}
.new-arrival .rowe .cols h3{
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}
.new-arrival .rowe .cols h3 span{
    display: block;
    margin-top: 20px;
    background-color: #e9ecef;
    padding: 10px;
    color: black;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .new-arrival .rowe{
        display: block;
    }
    .new-arrival .rowe .cols h3{
        bottom: 15%;
        font-size: 0.5rem;
    }
}


/* COLLECTION*/

.categories .products-carts{
padding-top: 40px;
}
.categories .product{
    border: 1px  solid rgba(144,144,144,0.25);
    overflow: hidden;
    transition: all .3s linear;
    border-radius: 10px;
    width: 29%;
    background-color: white;
    margin: 15px;
    padding:0;
}
.categories .product .text-cart{
position: relative;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.categories .product .text-cart .add-cart{
    color: #ffffff;
    background-color: #ff5e3a;
    border-radius: 1px;
    white-space: nowrap;
    transition: all .3s linear;
    width: 90%;
    position: absolute;
}
.categories .product .top{
    background-color: #f0f0f0;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s linear;
    border-radius: 13px 13px 0 0;
}
.categories .product .top img{
    width: 150px;
    height: 180px;
    object-fit: cover;

}
.categories .product .top .icon{
    position: absolute;
    top: 10px;
    right: 20px;
    margin: 0 auto;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color:  #ff5e3a;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}
.categories .product .bottom{
    padding: 0.3rem 17px;
    background-color:  #fff;
}
.categories .product .bottom h4{
    font-size: 14px;
    height: 10px;
    transition: 0.3s;
}
.categories .product .bottom .text-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories .product .bottom .text-list:first-child{
    margin-bottom: 1.5rem;
    align-items: flex-start;
}

.categories .product .bottom .price-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    width: 100%;
    height: 43px;
}
.categories .product .bottom .price-list .price{
    color: #909090;
    font-weight: 500;
}
.categories .product .bottom .price-list .star{
    color: #ff5e3a;
}
.categories .product .bottom .price-list .star:not(:last-child){
    margin-right: 0.3rem;
}
.categories .product:hover{
    border: none;
    transform: scale(1.1);
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
}
.categories .product:hover .top{
    background: linear-gradient(to bottom, #fccb90, #ff9a9e);
}
.categories .product:hover .top .icon{
    opacity: 1;
    visibility: visible;
}
.categories .product:hover .bottom  .text-list .add-cart {

}
.categories .product:hover .text-cart{
    top: -15%;
    opacity: 1;
    visibility: visible;
    right: 4%;
}
.categories .buttons{
display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.categories .buttons .btn{
display: inline-block;
    padding: .8rem 3rem;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
}
@media (max-width: 991px){
    .categories .product{
        width: 80%;
        margin-right: 10%;
    }
}

.statistics{
    padding: 10px 0 10px;
    background: linear-gradient(to bottom,rgba(346,271,225,0.15),rgba(255,185,188,0.1)););
}
.statistics .title{
    margin-bottom: 3rem;
}
.statistics .list-stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.statistics .list-stat .colls{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 25%;
}

.statistics .list-stat .colls .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    font-size: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
    color: #ff5e3a;
    margin-bottom: 6rem;
    transition: all .3s linear;
}
.statistics .list-stat .colls .icon:hover{
    background-color: #ff5e3a;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(255, 94, 58, 0.2);
}
.statistics .list-stat .colls h3{
    font-size: 15px;
    margin-top: -12px;
}
.statistics .list-stat .colls p{
    color:  #4f5665;
}
@media (max-width: 768px) {
    .statistics .list-stat .colls{
        width: 100%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .statistics .list-stat{
        display: flex;
        flex-direction: column;
    }
    .statistics .list-stat .colls .icon{
        width: 70px;
        height: 70px;
        font-size: 3rem;
    }
    .statistics .list-stat .colls p{
        width: 80%;
        margin: 0 auto;
    }
}


.blog .title{

    margin-bottom: 7rem;
}
.blog .blogs{
display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog .blogs .cols{
    border-radius:10px;
    overflow: hidden;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all .3s linear;

}
.blog .blogs .cols:hover{
    transform: scale(1.1);
}
.blog .blogs .cols .top{
  width: 100%;

}
.blog .blogs .cols .top img{
   width: 100%;
    object-fit: cover;
    transition: all .3s linear;
}
.blog .blogs .cols .top img:hover{
    transform: scale(1.1);
}
.blog .blogs .cols .bottom{
    text-align: center;
    padding: 30px 0;
}
.blog .blogs .cols .bottom h3{
    color: #ff5e3a;
    margin-bottom: 10px;
    font-size: 16px;
}
.blog .blogs .cols .bottom h4{
    font-size: 15px;
    line-height: 1.5;
    max-width: 90%;
    margin: 0 auto 15px;
    color: #6c757d;

}
.blog .blogs .cols .bottom  span{
    color: #909090;
    font-size: 16px;
}
@media (max-width: 991px) {
    .blog .blogs{
        flex-direction: column;

    }
    .blog .blogs .cols{
        margin: 9px;
    }
}




.popup{
transition: all .3s linear;
    opacity: 0;
    visibility:hidden;


}
.popup.active{
    opacity: 1;
    visibility:visible;

}
.popup .black{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.25);
    left: 0;
    top: 0;
opacity:0;
    visibility:hidden;
    transition: all .3s linear;
}
.popup .black.active{
    opacity: 1;
    visibility:visible;

}
.popup .text-cart .close-popup {
    position: absolute;
    color: white;
    background-color: #dc3545;
    width: 30px;
    height: 30px;
    top: 2%;
    right: 2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}
.popup .text-cart .close-popup span{
    color: white;
    font-size: 19px;
    font-weight: bold;
}
.popup .text-cart{
    position: fixed;
    background-color: white;
    left: 0;
    top: 12%;
    transform: scale(.8);
    right: 10%;
    width:80%;
    display: flex;
    height: 550px;
    padding: 45px;
    z-index: 1;


}

.popup .text-cart .imges-popup{

}
.popup .text-cart .imges-popup img{
width:90%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.popup .text-cart .text-popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.popup .text-cart .text-popup h2{
font-weight: bold;
}
.popup .text-cart .text-popup p{
font-weight: 100;
    font-size: 12px;
    text-align: center;
    color: #6c757d;
}
.popup .text-cart .text-popup .input-popup{
    width: 80%;
    height: 40px;
    outline: none;
    border: none;
    background-color: #ff5e3a;
    border-radius: 30px;
    padding: 10px;
    color: white;
}
.popup .text-cart .text-popup .btn-popup{
margin: 10px;
    background-color: black;
    width: 30%;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    transition: all .3s linear;
}
.popup .text-cart .text-popup .btn-popup a{
    color: white;
    font-weight: bold;
}
.popup .text-cart .text-popup .btn-popup:hover{
    background-color: #ff5e3a;
}
@media (max-width: 991px) {
    .popup .text-cart{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60%;
    }
    .popup .text-cart .text-popup{
        width: 100%;
        font-size: 10px;
    }
    .popup .text-cart .text-popup h2{
        font-size: 24px;
    }
    .popup .text-cart .imges-popup{
display: none;
    }
}


.footer{
    background-color: rgba(252,203,144,0.15);
    padding: 70px 0;
    margin-top: 12%;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    color:black;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #6c757d;
    padding-right: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:black;
    transition: all 0.5s ease;
    font-size: 20px;
}
.footer-col .social-links a:hover{
    color: white;
    background-color: black;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}








/*--- page contact-us --*/
/*style*/
.title{
    text-align: center;
    margin: 15px 0;
}
.title span {
    display: inline-block;
    border-bottom: 1px solid #ff5e3a;
    padding-bottom: 0.4rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.title span::before{
    content: "";
    position: absolute;
    bottom: -6px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff5e3a;
}

.title h2{
    font-size: 25px;
    font-weight: bold;
}
.containert{
width: 90%;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    margin: 0 auto;
    background: #e9ecef;
    border: 1px solid #eeeeee;
    position: relative;
    top:60px;
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.container .content .left-side{
    width: 30%;
    height: 500px;
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container .content .left-side::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 2px;
    background: #afafb6;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.container .content .left-side .details{
margin: 14px;
    text-align: center;
}
.container .content .left-side .details i{
font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}
.container .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.container .content .left-side .details .text-one{
font-size: 12px;
    color: #afafb6;
}
.container .content .left-side .details .text-two{
  font-size: 12px;
    color: #afafb6;
}

.container .content .right-side{
    width: 75%;
    margin-right: 35px;
}
.container .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    margin-top: 5px;
    color: black;
}
.container .content .right-side p{
    font-size: 13px;
    font-weight: 100;
    color: #afafb6;
    margin-top: 15px;
}
.container .content .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;

}
.container .content .right-side .input-box input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    outline: none;
}
.container .content .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    outline: none;
    resize: none;
}
.container .content .right-side .message-box{
    min-height: 110px;
    margin-top: 6px;
}
.container .content .right-side .button-content button{
color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 6px;
    background: #3e2093;
    padding: 8px 16px;
    transition: all .3s linear;
}
.container .content .right-side .button-content button:hover{
    background: #5029bc;
}
@media (max-width: 991px) {
    .containert{
        width: 100%;
    }
    .container .content{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .container .content .left-side{
      flex-direction: row;
        width: 100%;
        margin-top: 30%;
        justify-content: center;
        height: 100px;

    }
    .container .content .left-side::before{
        display: none;
    }
    .container .content .right-side{
        width: 100%;
        margin-right: 0;
    }
    .container .content .left-side .details i{
        font-size: 20px;
        color: #3e2093;
        margin-bottom: 10px;
    }
    .container .content .left-side .details .text-one{
        font-size: 10px;
        color: #afafb6;
    }
    .container .content .left-side .details .text-two {
      display: none;
    }

    }
/*style*/
/*--- page contact-us --*/









/*--- page about-us --*/
/*style*/
.contaitr{
    width: 90%;
margin-right:5% ;
    padding: 10px 20px;
    margin-top: 10%;
}
.contaitr .about{
display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contaitr .about .about-image{
flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.contaitr .about .about-image:hover img{
transform: scale(1.2);
}
.contaitr .about .about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: all .3s linear;
    object-fit: cover;
    border-radius: 2px;
}
.contaitr .about .about-content{
    flex: 1;
    margin-right: 3%;
}
.contaitr .about .about-content h2{
font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.contaitr .about .about-content p{
font-size: 13px;
    line-height: 1.5;
    color: #666;
}

.contaitr .about .about-content .read-more{
display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: all 0.3s linear;
    background-color: #4caf50;

}
.contaitr .about .about-content .read-more:hover{
    background-color: #3e8e41;
}
@media (max-width: 991px) {
    .contaitr{
        padding: 0;
    }
    .contaitr .about{
        padding: 20px;
        flex-direction: column;
    }
    .contaitr .about .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .contaitr .about .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .contaitr .about .about-content p{
        padding: 0px;
        font-size: 16px;
        text-align: center;
    }
    .contaitr .about .about-content .read-more{
        margin: 0 auto;
    }
}
/*style*/
/*--- page about-us --*/

/*--- page terms-and-conditions --*/
/*style*/



.flex_align_justify{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

}

.wrapper{
    padding: 0 20px;

}

.tc_wrap{
    width: 100%;
    max-width: 100%;
    height: 850px;
    background:#fff;
    display: flex;
    border-radius: 3px;

}

.tc_wrap .tabs_list{
    width: 250px;
    background:  linear-gradient(to bottom, #fccb90, #ff9a9e);
    height: 100%;
}

.tc_wrap .tabs_content{
    width: calc(100% - 200px);
    padding: 0 10px 0 20px;
    height: 100%;
background-color: #eeeeee;
}

.tc_wrap .tabs_content .tab_head,
.tc_wrap .tabs_content .tab_foot{
    color: black;
    padding: 25px 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.tc_wrap .tabs_content .tab_head{
    text-align: center;
}

.tc_wrap .tabs_content .tab_body{
    height: calc(100% - 140px);
    overflow: auto;
}

.tc_wrap .tabs_list ul{
    padding: 70px 20px;
    text-align: right;
}

.tc_wrap .tabs_list ul li{
    padding: 10px 0;
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li:before{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 2px;
    height: 100%;
    background:black;
    opacity: 0;
    transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li.active,
.tc_wrap .tabs_list ul li:hover{
    color: #ffffff;
}

.tc_wrap .tabs_list ul li.active:before{
    opacity: 1;
}

.tc_wrap .tabs_content .tab_body .tab_item h3{
    padding-top: 10px;
    margin-bottom: 10px;
    color: black;
}

.tc_wrap .tabs_content .tab_body .tab_item p{
    margin-bottom: 20px;
}

.tc_wrap .tabs_content .tab_body .tab_item.active{
    display: block !important;
}

.tc_wrap .tabs_content .tab_foot button{
    width: 125px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tc_wrap .tabs_content .tab_foot button.decline{
    margin-right: 15px;
    border-color:  #dfc8fd;
    color: #dfc8fd;
}

.tc_wrap .tabs_content .tab_foot button.agree{
    background:#ff5e3a;
    border-color: #ff5e3a;
    color: #fff;
}

.tc_wrap .tabs_content .tab_foot button.decline:hover{
    background: #be6857;
    color: #fff;
}

.tc_wrap .tabs_content .tab_foot button.agree:hover{
    background:#ff5e3a;
    border-color: #9f7369;
}
@media (max-width: 991px) {
    .flex_align_justify{


    }

    .wrapper{


    }

    .tc_wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }
    .tc_wrap .tabs_list{
        display: flex;
        width: 100%;
        height: auto;
    }
    .tc_wrap .tabs_list ul{
        display: flex;
        width: 100%;
        font-size: 7px;
        justify-content: space-between;
        align-items: center;
    }
    .tc_wrap .tabs_list ul li:before{
        display: none;
    }
    .tc_wrap .tabs_content{
        width: 100%;
        height: 82%;
    }
}

















/*style*/
/*--- page terms-and-conditions --*/

